<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>MOS Burgers App</title>

  <link rel="stylesheet" href="../asset/css/styles.css">
  <link rel="stylesheet" href="../asset/css/report.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="../asset/images/favicon_io/favicon.ico" type="image/x-icon" />
</head>

<body>
  <!-- background -->
  <div class="bg-responsive col-auto">
    <div class="overlay-rectangle row-cols-auto">

      <!-- Vertical Navbar -->
      <div class="vertical-navbar">
        <!-- <a href="#" class="navbar-link" onclick="toggleSearch()">
          <i class="fa-solid fa-magnifying-glass fa-shake"></i>
          Search
        </a> -->
        <a href="/index.html" class="navbar-link">
          <i class="fa-solid fa-house-chimney fa-beat-fade"></i>
          Home
        </a>
        <a href="/views/items.html" class="navbar-link">
          <i class="fa-solid fa-burger fa-beat-fade"></i>
          Items
        </a>
        <a href="/views/customers.html" class="navbar-link">
          <i class="fa-solid fa-users fa-beat-fade"></i>
          Customers
        </a>
        <a href="/views/reports.html" class="navbar-link">
          <i class="fa-solid fa-file-invoice fa-beat-fade"></i>
          Reports
        </a>
      </div>

      <!-- main dashboard -->
      <div class="report-dashboard">

        <div class="header">
          <!-- Search bar -->
          <div class="search-bar" id="search-bar" style="display: none;">
            <input type="text" id="search-input" placeholder="Search by item code or name">
            <i class="fa-solid fa-magnifying-glass fa-beat-fade search-icon" onclick="searchItems()"></i>
          </div>

          <!-- title & moto -->
          <h1 class="heading">MOS Burgers</h1>
          <h6 class="moto">Happiness in every bite...</h6>
        </div>

        <!-- report menu bar -->
        <div class="report-menu-bar">
          <a href="#" class="report-link active" data-category="annual-report">Annual Sales Overview</a>
          <a href="#" class="report-link" data-category="monthly-report">Monthly Sales Insights</a>
          <a href="#" class="report-link" data-category="vip-report">VIP Customer Insights</a>
          <a href="#" class="report-link" data-category="inventory-report">Inventory Count Analysis</a>
        </div>

        <!-- report table section -->
        <section class="report-table">
          <!-- annual report -->
          <div class="row annual-report" data-category="annual">
            <div class="col-12 table-container">
              <table class="table table-striped table-hover mt-3 text-center table-bordered">
                <thead class="color">
                  <tr>
                    <th>Year</th>
                    <th>Total Sales Revenue (LKR)</th>
                    <th>Top-Selling Category</th>
                    <th>Total Orders Placed</th>
                    <th>Total Items Sold</th>
                  </tr>
                </thead>

                <tbody id="data" class="table-group-divider">
                  <tr>
                    <td>2020</td>
                    <td>500,000</td>
                    <td>Burgers</td>
                    <td>2,500</td>
                    <td>10,000</td>
                  </tr>

                  <tr>
                    <td>2021</td>
                    <td>690,000</td>
                    <td>Chicken</td>
                    <td>3,500</td>
                    <td>20,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- monthly report -->
          <div class="row monthly-report" data-category="monthly">
            <div class="col-12">
              <table class="table table-striped table-hover mt-3 text-center table-bordered">
                <thead>
                  <tr>
                    <th>Month</th>
                    <th>Total Sales Revenue (LKR)</th>
                    <th>Top-Selling Category</th>
                    <th>Total Orders Placed</th>
                    <th>Total Items Sold</th>
                  </tr>
                </thead>

                <tbody id="data" class="table-group-divider">
                  <tr>
                    <td>July</td>
                    <td>60,000</td>
                    <td>Chicken</td>
                    <td>300</td>
                    <td>1,200</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- VIP customer report -->
          <div class="row vip-report" data-category="vip">
            <div class="col-12">
              <table class="table table-striped table-hover mt-3 text-center table-bordered">
                <thead>
                  <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Total Orders Placed</th>
                    <th>Total Amount Spent</th>
                  </tr>
                </thead>

                <tbody id="data" class="table-group-divider">
                  <tr>
                    <td>0771234567</td>
                    <td>Nimal Perera</td>
                    <td>10</td>
                    <td>5,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- inventory report -->
          <div class="row inventory-report" data-category="inventory">
            <div class="col-12">
              <table class="table table-striped table-hover mt-3 text-center table-bordered">
                <thead>
                  <tr>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Current Stock Quantity</th>
                    <th>Sales Quantity</th>
                    <th>Expire Date</th>
                  </tr>
                </thead>

                <tbody id="data" class="table-group-divider">
                  <tr>
                    <td>B1047</td>
                    <td>Mirinda (330ml)</td>
                    <td>Beverages</td>
                    <td>50</td>
                    <td>20</td>
                    <td>23-Sep-15</td>
                  </tr>

                  <tr>
                    <td>B1022</td>
                    <td>Double Cheese n Chicken Submarine</td>
                    <td>Submarines</td>
                    <td>30</td>
                    <td>16</td>
                    <td>23-Oct-22</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>



















      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="../asset/js/app.js"></script>
    <script src="../asset/js/report.js"></script>
</body>

</html>